<%= render "shared/top_nav" %>

<div id="page">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= render "shared/space_form" %>
  <%= render "shared/footer" %>
</div>
